h3 {
    color: rgb(34,220,120);
    text-align: left;
}
table {
    border: 1px solid black;
    background-color: lightblue;
}
td {
    border: 1px solid black;
}
td:hover {
    color: white;
    background-color: orange;
}

a:hover {
    color: orange
}

#blog{
    display: grid;
    justify-content: center;
}